*
{
   
    padding:0;
    margin:0;
    border:0;
    list-style:none;
    
    }
body 
{
    width:100%;
    height:100%;
    
}
#search
{
    width:60%;
    }
nav.navbar
{
    margin-bottom:30px;
    }
div.navbar-header
{
     
    }
nav.navbar-inverse_fix
{
    background-color:white;
    border-color:white;
    }
 a.navbar-brand
 {
     background:url("../image/zhihui.png") no-repeat center ;
     width:124px;
     height:80px;
     
     }
.nav_ul 
{
    position:absolute;
    left:635px;
    }
.nav li
{
    width:124px;
     height:80px;
     float:left; 
     text-align:center;
     vertical-align:middle;
    }
nav.navbar-inverse .navbar-nav>li>a
{
    padding-top:30px;
    width:100%;
    height:100%;
     font-size:18px;
     font-family:" @Noto Sans S Chinese Black";
     font-weight:600;
     color:Black;
    }
nav.navbar-inverse .navbar-nav>li>a:hover
{
     border-bottom:3px solid Black;
     color:#1565C0;
    }
.nav_relative
{
    
    position:relative; 
    }