body {
  padding-top: 20px;
  
}
.footer {
  padding-top: 40px;
  padding-bottom: 40px;
  margin-top: 40px;
  border-top: 1px solid #eee;
}
div.container
{
    padding:80px 0 0 0;
    width:100%; 
    }
.jumbotron {
  text-align: center;
  background-color: transparent;
  background:url("../image/laptop.jpg") no-repeat bottom ;
  padding:98px;
     margin:0;
     height:450px;
}
.jumbotron .btn {
  padding: 14px 24px;
  font-size: 21px;
}


.nav-justified {
  background-color: #eee;
  border: 1px solid #ccc;
  border-radius: 5px;
  width:55%;
  margin:0 auto; 
}
li.li_size
{
     height:52px;
    }
.nav-justified > li > a {
  padding-top: 15px;
  padding-bottom: 15px;
  margin-bottom: 0;
  font-weight: bold;
  color: #333;
  text-align: center;
  background-color: #e5e5e5; 
    background-repeat: repeat-x;
    border-bottom: 1px solid #d5d5d5;
    background-image: #2ecc71
}
.nav-justified > li > a:hover,
.nav-justified > li > a:focus 
{
    color:#FAFAFA;
    
    
    background-color: #9575CD;
    background-image: none;
    -webkit-box-shadow: inset 0 3px 7px rgba(0,0,0,.15);
     box-shadow: inset 0 3px 7px rgba(0,0,0,.15);
}
.nav-justified > li:first-child > a {
  border-radius: 5px 5px 0 0;
}
.nav-justified > li:last-child > a {
  border-bottom: 0;
  border-radius: 0 0 5px 5px;
}

@media (min-width: 768px) {
  .nav-justified {
    max-height: 52px;
  }
  .nav-justified > li > a {
    border-right: 1px solid #d5d5d5;
    border-left: 1px solid #fff;
  }
  .nav-justified > li:first-child > a {
    border-left: 0;
    border-radius: 5px 0 0 5px;
  }
  .nav-justified > li:last-child > a {
    border-right: 0;
    border-radius: 0 5px 5px 0;
  }
}

  .masthead,
  .marketing,
  .footer {
    padding-right: 0;
    padding-left: 0;
  }
.li_fix
{
     width:240px;
    }
.masthead
{
     margin-top:50px;
    }
#box
    {
        margin:60px 400px;
        height:800px;
    }
    .data_page
    {
        width:300px;
        height:50px;
        margin-left:200px;
        
        
    }
    .list_view
    {
        float:left;
        margin-bottom:50px;
    }
    .itm_box
    {
        width:800px;
    }
    #ContentPlaceHolder1_DataPager1
    {
        
        }
   #ContentPlaceHolder1_DataPager1 input
   {
        width:60px;
        height:40px;
        border:2px solid black;
        border-radius:10px;
        background-color:White;
        margin-right:5px;
       }
  #form1
  {
       position:relative;
       width:100%;
        height:100%;
      }
 .sidebar-module
 {
     
     position:absolute;
     left:1300px;
     
     }
 .list-unstyled li
{
    margin-bottom:10px;
    }